.show-delete {
    left: 0 !important;
}

.delete-prompt {
    left: -100vw;
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 999;
    background: var(--color-ruby);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    transition: 0.3s left cubic-bezier(0.075, 0.82, 0.165, 1);
}
.detail{
    transform:translateX(0);
    height: 60px;
    overflow: hidden;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);

}
.detail.detail-deleted{
    height: 0 !important;
    transform:translateX(-100vw)  !important;
}
.detail:hover {
    background: var( --color-teal-lightest);
}

.buttonwrap {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

@media only screen and (min-width: 500px) {
    .delete-cross {
        opacity: 0;
        position: absolute;
        right: 10px;
        bottom: 28px; 
        transition: opacity 0.2s ease-in;
    }
    .delete-cross:hover {
        color: var(--color-ruby-darkest);
        font-weight: 800;
        cursor: pointer;
    }
    .list-item-detail:hover .delete-cross {
        opacity: 1;
    }
    .list-item-detail {
        padding-right: 40px;
    }
}