
.quantity-and-buttons {
  display: flex;
  /* justify-content: space-between; */
}

.pad {
  margin: 0 20px;
}

.big-button {
  margin-top: -1px;
  width: 100%;
}

.order-placed-hide {
  opacity: 0;
  pointer-events: none;
}

.displaynone {
  display: none;
}

.discount {
  text-decoration: line-through;
  font-size: 16px;
}

.marginright {
  margin-right: 15px;
}