@media only screen and (max-width: 500px) {
    .toast{
        transition: left 0.3s ease-in-out;    }
}
@media only screen and (min-width: 501px) {
    .toast{
        transition: left 0.6s ease-in-out;
    }
} 
.toast{
    position: fixed;
    bottom:0;
    width:100vw;
    max-width:500px;
    height: 60px;
  
    left:-100vw;
    cursor: pointer;
}

.show-toast{
    left:0;
}

.hide-toast{
    left:-100vw;
}

.toast-msg{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    padding-left:20px;
}

.info{
    background: var(--color-violet);
}
.danger{
    background: var(--color-ruby-dark);
    color:white;
}
.warning{
    background: var(--color-gold-dark);
    color:white;
}
.success{
    color:white;
    background: var(--color-mint-dark);
}