
@media only screen and (max-width: 500px) {
    .quatreCol.resize-small {
       width:50%;
    }
    
  ul{
    padding:10px;
  }
  
  
    li{
      padding-bottom: 20px;
  
    }
  
    .clear-small{ background: var(--color-aqua-lightest);
      height: 30px;
      line-height: 30px;
      clear: both;
    }
  }